# Dependencies
node_modules/
dist/
target/
*.class

# IDE and Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
.DS_Store?
._*

# Log files
*.log

# Environment variables
.env
.env.local
.env.*
!.env.example
